[data-testid=modal-content][data-v-0ff80bd3]{outline:none!important;-webkit-tap-highlight-color:transparent}[data-testid=modal-content][data-v-0ff80bd3]:focus{box-shadow:none!important;outline:none!important}
